# Ignore all image files
*.jpg
*.png
*.jpeg

# Ignore pycharm and system files
.DS_Store
*.idea
__pycache__
*.zip

# Ignore dataset files
*.csv
*.json
*.7z

# Ignore checkpoints
*.pth

# Ignore pickle files
*.pkl

# Ignore Folders
diagrams/
.venv/data/cifar10/train.7z
data/cifar10/test.7z
